In [13]:
frutas = ["apple", "banana", "cherry"]
for x in frutas:
  print(x)

for y in "cadena":
  print(y)

# Obtener el promedio de una lista de notas:
notas = [13, 15, 17, 18, 10, 20]
suma_notas = 0
for nota in notas:
  suma_notas = suma_notas + nota
promedio = suma_notas / len(notas)
print(promedio)

apple
banana
cherry
c
a
d
e
n
a
15.5

In [5]:
frutas = ["apple", "banana", "cherry"]
for x in frutas:
  print(x)
  if x == "apple":
    break
  print(x)
print("Fin del programa")

apple
Fin del programa

In [10]:
frutas = ["apple", "banana", "cherry"]
for x in frutas:
  if x == "banana":
    continue
  print(x)
print("Fin del programa")

apple
cherry
Fin del programa

In [14]:
for x in range(6):
  print(x)
else:
  print("For finalizado")
print("Fin del programa")

0
1
2
3
4
5
For finalizado
Fin del programa

In [16]:
adjetivos = ["red", "big", "tasty"]
frutas = ["apple", "banana", "cherry"]

for x in adjetivos:
  for y in frutas:
   print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [27]:
indice = 0
numeros = [3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
for numero in numeros:
  numeros[indice] = numeros[indice] * 10
  indice += 1
numeros

[30, 40, 50, 60, 70, 80, 90, 100, 110, 120]

In [31]:
indice = 0
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
print(list(enumerate(numeros)))

for indice, numero in (enumerate(numeros)):
  numeros[indice] *= 10
numeros

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9), (9, 10), (10, 11), (11, 12)]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]

In [74]:
import random # 32
ganador = "Empate"
#1 = Piedra
#2 = Papel
#3 = Tijera

while ganador == "Empate":
  NInes = (random.randrange(1, 4))
  NJuan = (random.randrange(1, 4))
  print("Ines", NInes)
  print("Juan", NJuan)
  if NInes == NJuan:
    ganador = "Empate"
  elif NInes == 1 and NJuan == 3:
    ganador = "Ines"
  elif NJuan == 1 and NInes == 3:
    ganador = "Juan"
  elif NInes > NJuan:
    ganador = "Ines"
  elif NJuan > NInes:
    ganador = "Juan"

print("El ganador(a) es", ganador)

Ines 3
Juan 2
El ganador(a) es Ines

In [80]:
import random # 34

n1 = (random.randrange(11, 100))
n2 = (random.randrange(11, 100))

print("El número 1 es", n1)
print("El número 2 es", n2)

print("Tabla de multiplicar")
for x in range(1, n2 + 1):
  multiplicacion = n1 * x
  print(n1, "x", x, "=", multiplicacion)

El número 1 es 24
El número 2 es 28
Tabla de multiplicar
24 x 1 = 24
24 x 2 = 48
24 x 3 = 72
24 x 4 = 96
24 x 5 = 120
24 x 6 = 144
24 x 7 = 168
24 x 8 = 192
24 x 9 = 216
24 x 10 = 240
24 x 11 = 264
24 x 12 = 288
24 x 13 = 312
24 x 14 = 336
24 x 15 = 360
24 x 16 = 384
24 x 17 = 408
24 x 18 = 432
24 x 19 = 456
24 x 20 = 480
24 x 21 = 504
24 x 22 = 528
24 x 23 = 552
24 x 24 = 576
24 x 25 = 600
24 x 26 = 624
24 x 27 = 648
24 x 28 = 672